@import url("https://fonts.googleapis.com/css?family=Nunito|Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0rem;
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden !important;
  font-family: "Raleway";
  scroll-behavior: smooth;
}
.background {
  background-color: #2a2a2a;
  height: 30rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.nav1 a {
  color: white;
}
.nav1 {
  width: 80%;
  margin: auto;
}
.active,
.nav a:hover {
  color: #0e82f8;
  border-bottom: 2px solid #0e82f8;
}
.nav2 {
  display: none;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
}

.blue {
  color: #046bd3;
  font-weight: 700;
  font-family: "Nunito";
}
.padding {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
}
.task .padding:hover {
  border-bottom: 3px solid #0e82f8;
}
ul {
  list-style: none;
  text-decoration: none;
}
.divide {
  margin-top: 19px;
  border: 1px solid white;
  height: 38px;
  margin-right: 14px;
}
.inline {
  width: 40rem;
}
.butt {
  background-color: #0e82f8;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
/* heading */
.hp {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.butt1 {
  padding: 1rem;
  background-color: #208fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  color: white;
}
.h1 {
  font-weight: 900;
}
.thick {
  font-weight: 900;
}

.butt2:hover {
  border: 2px solid #208fff;
}
/* card */
.cd {
  display: block;
  width: 100%;
}
.cd1 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-wrap: wrap;
}
.cd2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.cda {
  width: 23%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 25px 96px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}
.cda img {
  padding: 1rem;
}
.cd-text {
  font-size: 20px;
  font-weight: 900;
}
/* sub-heading */
.sb {
  padding: 2rem;
  text-align: center;
  margin-top: 8rem;
}
/* cont */
.cont {
  display: flex;
  width: 80%;
  margin: auto;
}
.con2 {
  width: 50%;
  margin: 2rem;
}
.text-link {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding: 5rem;
}
.shadow {
  box-shadow: 0px 25px 96px rgba(0, 0, 0, 0.1);
}
.con {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: white;
}

/* Sreeen */
.screen {
  height: 25rem;
  width: 50%;
  margin: 2rem;
  margin-top: 7rem;
  box-shadow: 0px 25px 96px rgba(0, 0, 0, 0.1);
}
.task {
  display: flex;
  padding: 5px;
  background-color: black;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.co {
  display: flex;
}
.r {
  border-radius: 50%;
  background-color: red;
  padding: 5px;
  margin: 14px;
}
.y {
  border-radius: 50%;
  background-color: yellow;
  padding: 5px;
  margin: 14px;
}
.g {
  border-radius: 50%;
  background-color: green;
  padding: 5px;
  margin: 14px;
}
/* divide */
.sc {
  border: 1px solid grey;
  width: 80%;
  margin: auto;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.follow {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.share {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.divider {
  margin-top: 6rem;
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: #111517;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}
.foot {
  background-color: #111517;
}
.footer-brand {
  width: rem;
  display: block;
}
.footer ul a {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.footer li a {
  color: grey;
  line-height: 1rem;
}
.footer ul {
  width: 20%;
  padding: 2rem;
}

@media only screen and (max-width: 760px) {
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #111517;
    padding: 2rem;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
  }
  .footer ul {
    width: 50%;
    padding: 2rem;
  }
  .footer ul a {
    font-size: 20px;
    font-weight: 700;
  }
  .footer li a {
    color: grey;
    line-height: 3rem;
  }
  .prop {
    display: block;
    margin: auto;
  }
}
@media only screen and (max-width: 760px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: block;
  }
  .cda {
    width: 100%;
  }
  .con2 {
    width: 100%;
  }
  .screen {
    display: none;
  }
  .cda {
    display: grid;
   grid-template-columns: 15% 85%
}
.end {
  display: flex;
  justify-content: space-evenly;
}
