@import url("https://fonts.googleapis.com/css?family=Nunito|Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: "Nunito";
}
ul {
  list-style: none;
  text-decoration: none;
}
/* nav bar design */
.active,
.nav a:hover {
  color: #0e82f8;
  border-bottom: 2px solid #0e82f8;
}
.nav2 {
  display: none;
}
.nav .thick {
  font-weight: 700;
}
.inline {
  width: 25rem;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
}
.padding {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  color: rgb(46, 46, 46);
}
.padding a {
  color: black;
}
.divide {
  margin-top: 19px;
  border: 1px solid black;
  height: 38px;
  margin-right: 14px;
}
.butt {
  background-color: #0e82f8;
  border-radius: 5px;
}
/* Title */
.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 7rem;
}

/* table */
.table {
  box-shadow: 5px 10px 20px 5px rgb(146, 142, 142);
}
.table td,
.table th {
  padding-top: 2rem;
  padding-bottom: 2rem;
  vertical-align: top;
  /* border-top: 1px solid #dee2e6; */
  font-weight: 800;
  color: #707070;
}

.th1 {
  height: 120px;
  color: black;
}
.fa-plus:before {
  margin-right: 1rem;
  color: #046bd3;
}
.fa-check:before {
  color: #046bd3;
}
.table .th2-offset {
  margin-right: 4rem;
}
.butt1 {
  text-align: center;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #208fff;
  border-radius: 5px;
  color: white;
}
.butt2 {
  text-align: center;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #208fff;
}
tr:first-child {
  background: white;
}
tr:nth-child(2n + 4) {
  background: #e5e5e5;
}
tr:last-child {
  background: white;
  border-top: none;
}
.text-center {
  text-align: center;
}

/* Add-on licensing */
.heading2 {
  padding: 6rem;
}
.box {
  border: 2px solid #0e82f8;
  width: 35%;
  box-shadow: 5px 10px 20px 5px rgb(146, 142, 142);
  display: flexbox;
  padding: 1rem;
}
.bt {
  border-bottom: 2px solid #0e82f8;
}
.flx {
  display: flex;
  justify-content: space-evenly;
}
.flx2 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;
}
.heading1 {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}
.butt-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bt {
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #0e82f8;
  width: 80%;
  border-radius: 5px;
}
/* footer */
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.share {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.divider {
  margin-top: 6rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 4rem;
  background-color: #111517;
}
.footer-brand {
  width: 7rem;
  display: block;
}
.footer ul a {
  font-size: 16px;
  font-weight: 700;
  font-size: x-small;
  color: white;
}
.footer li a {
  color: grey;
  line-height: 1rem;
}

@media only screen and (min-width: 670px) {
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #111517;
    padding: 4rem;
    height: 26rem;
  }
  .footer ul a {
    font-size: 20px;
    font-weight: 700;
  }
  .footer li a {
    color: grey;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 760px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: block;
  }
}
